In [110]:
import pandas as pd

people = { # <- Each of the dictionary represents a dataFrame
    "firstName": ["Corey", "Pritam", "Jane", "John"], # <- each of the key represents a column
    "lastName": ["Chaufer", "Kundu", "Doe", "Doe"], # each of the values represent a row
    "email": ["CoreyMSchaufer@gmail.com", "pritamkundu771@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}
df = pd.DataFrame(people)

Filter / Mask:

-   A filter returns a Series of Bool values.
-   When a mask applied to our dataFrame,
-   We get all of the values corresponding to True and filter out the Falsy values.
-   A mask acts as a SQL query equivalent for our dataFrame 

⚠️ Rookie Mistake: Avoid using filter as a variable name as `filter()` is a builtin function in python
Select data having lastName as Doe

In [111]:
filter_ = df['lastName'] == 'Doe' # <- known as filter map
df[filter_] # <- Appluing the filter in the dataFrame

  firstName lastName              email
2      Jane      Doe  JaneDoe@email.com
3      John      Doe  JohnDoe@email.com

Another method is to use the index locator to filter out the values. Will give the same result.  
✔️ ADVANTAGE:  
We will be able to grab a certain specific column instead of the whole dataFrame

In [112]:
df.loc[filter_, "email"]

2    JaneDoe@email.com
3    JohnDoe@email.com
Name: email, dtype: object

Comparision operators:  
- & -> AND  
- | -> OR
- ~ -> Negation

In [113]:
# EXAMPLE 1: SELECT * FROM df WHERE lastName == Doe and firstName == John
filter_ = (df['lastName'] == 'Doe') & (df['firstName'] == 'John')
df.loc[filter_]

  firstName lastName              email
3      John      Doe  JohnDoe@email.com

In [114]:
# EXAMPLE 2: SELECT * FROM df WHERE lastName == Chaufer or lastName == John
filter_ = (df['lastName'] == 'Chaufer') | (df['firstName'] == 'John')
df.loc[filter_]

  firstName lastName                     email
0     Corey  Chaufer  CoreyMSchaufer@gmail.com
3      John      Doe         JohnDoe@email.com

In [115]:
# EXAMPLE 3: SELECT * FROM df WHERE not (lastName == Chaufer or lastName == John)
filter_ = ~((df['lastName'] == 'Chaufer') | (df['firstName'] == 'John'))
df.loc[filter_]

  firstName lastName                     email
1    Pritam    Kundu  pritamkundu771@gmail.com
2      Jane      Doe         JaneDoe@email.com

Constructing a filter on a real-life data and displaying it

In [116]:
df = pd.read_csv(r"data/survey_results_public.csv")
countries = ["United States", "India", "United Kingdom", "Germany", "Canada"]
high_salary = (df["CompTotal"] > 70_000) & (df['Country'].isin(countries))
high_salary # Displaying the filter

0        False
1        False
2        False
3        False
4        False
         ...
83434    False
83435    False
83436    False
83437     True
83438    False
Length: 83439, dtype: bool

Displaying the result of the filter on the dataFrame

In [117]:
df.loc[high_salary, ["Country", "LanguageHaveWorkedWith", "ConvertedCompYearly"]]

,Country,LanguageHaveWorkedWith,ConvertedCompYearly
12,Germany,C;C++;Java;Perl;Ruby,77290.0
24,Germany,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,77831.0
67,Canada,C#;VBA,71850.0
77,Canada,HTML/CSS;Python;R,151263.0
86,Canada,C#;SQL;TypeScript,95295.0
...,...,...,...
83399,India,HTML/CSS;JavaScript;TypeScript,27923.0
83411,India,Java;JavaScript;SQL,48866.0
83424,Germany,Bash/Shell;C;Go;Java;JavaScript;Perl;SQL,129718.0
83432,Canada,Ruby,80169.0
83437,Canada,Bash/Shell;JavaScript;Node.js;Python,816816.0

In [118]:
# Filtering all the data where LanguageWorkedWith has Python in it and do nothing if NaN
filter_ = df["LanguageHaveWorkedWith"].str.contains("Python", na=False)
#                👆                👆    👆       👆        👆
# Selecting by Lang..With | convert to |  str   | Checking | Do nothing
#                               str    | method |   value  | if NaN

df.loc[filter_, ["Country", "LanguageHaveWorkedWith"]]

,Country,LanguageHaveWorkedWith
1,Netherlands,JavaScript;Python
2,Russian Federation,Assembly;C;Python;R;Rust
4,United Kingdom of Great Britain and Northern I...,Bash/Shell;HTML/CSS;Python;SQL
5,United States of America,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...
9,Sweden,C++;Python
...,...,...
83429,United States of America,HTML/CSS;PHP;PowerShell;Python;SQL;VBA
83430,United States of America,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript
83431,Pakistan,C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...
83436,United States of America,Groovy;Java;Python
83437,Canada,Bash/Shell;JavaScript;Node.js;Python