### AIML: Regression: sklearn (3rd March 2022, Thursday)

Importing the dataSet

In [2]:
# load boston dataset
from sklearn.datasets import load_boston

Supress the deprication warning

In [26]:
# to suppress warning
import warnings
with warnings.catch_warnings():  # You should probably not use this dataset.
    warnings.filterwarnings("ignore")
    boston = load_boston()
    x, y = load_boston(return_X_y=True)
print(x.shape)

(506, 13)

Knowing description of Boston DataSet

In [4]:
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

Accessing data of Boston DataFrame

In [5]:
import pandas as pd

data = pd.DataFrame(boston.data, columns=boston.feature_names)
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [6]:
data["MEDV"] = pd.DataFrame(boston.target)
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

- Identifiation of Correlation Matrix of DataFrame
- Round specifies decimal point precision

In [7]:
pd.DataFrame(data.corr().round(2))  # Pearson's Correlation coefficient

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.00,-0.20,0.41,-0.06,0.42,-0.22,0.35,-0.38,0.63,0.58,0.29,-0.39,0.46,-0.39
ZN,-0.20,1.00,-0.53,-0.04,-0.52,0.31,-0.57,0.66,-0.31,-0.31,-0.39,0.18,-0.41,0.36
INDUS,0.41,-0.53,1.00,0.06,0.76,-0.39,0.64,-0.71,0.60,0.72,0.38,-0.36,0.60,-0.48
CHAS,-0.06,-0.04,0.06,1.00,0.09,0.09,0.09,-0.10,-0.01,-0.04,-0.12,0.05,-0.05,0.18
NOX,0.42,-0.52,0.76,0.09,1.00,-0.30,0.73,-0.77,0.61,0.67,0.19,-0.38,0.59,-0.43
RM,-0.22,0.31,-0.39,0.09,-0.30,1.00,-0.24,0.21,-0.21,-0.29,-0.36,0.13,-0.61,0.70
AGE,0.35,-0.57,0.64,0.09,0.73,-0.24,1.00,-0.75,0.46,0.51,0.26,-0.27,0.60,-0.38
DIS,-0.38,0.66,-0.71,-0.10,-0.77,0.21,-0.75,1.00,-0.49,-0.53,-0.23,0.29,-0.50,0.25
RAD,0.63,-0.31,0.60,-0.01,0.61,-0.21,0.46,-0.49,1.00,0.91,0.46,-0.44,0.49,-0.38
TAX,0.58,-0.31,0.72,-0.04,0.67,-0.29,0.51,-0.53,0.91,1.00,0.46,-0.44,0.54,-0.47
PTRATIO,0.29,-0.39,0.38,-0.12,0.19,-0.36,0.26,-0.23,0.46,0.46,1.00,-0.18,0.37,-0.51
B,-0.39,0.18,-0.36,0.05,-0.38,0.13,-0.27,0.29,-0.44,-0.44,-0.18,1.00,-0.37,0.33
LSTAT,0.46,-0.41,0.60,-0.05,0.59,-0.61,0.60,-0.50,0.49,0.54,0.37,-0.37,1.00,-0.74
MEDV,-0.39,0.36,-0.48,0.18,-0.43,0.70,-0.38,0.25,-0.38,-0.47,-0.51,0.33,-0.74,1.00

Deducing the most correlated Attribute to MEDV -> RM

In [8]:
x, y = data["RM"], data["MEDV"]
# X is always the set of features
# y is always the set of target variables

The algorithm to use today is Linear Regression

In [9]:
from sklearn.linear_model import LinearRegression

# importing to train our model
from sklearn.model_selection import train_test_split

# returns a model which learns from the data passed to it
lin_reg_classifier = LinearRegression()

Converting the data from Series to DataFrame objects

In [10]:
x, y = pd.DataFrame(x), pd.DataFrame(y)

Splitting the dataSet using Train split function intpo data and tests

In [11]:
# 20% left for testing 80% left for testing the model
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

To find how many values the training dataSet contains

In [12]:
x_train.shape

(404, 1)

Now Ultimately Training the Classifier using the data

In [13]:
lin_reg_classifier.fit(x_train, y_train)

LinearRegression()

Now, testing the Prediction of the dataSet

In [14]:
import numpy as np

from sklearn.metrics import mean_squared_error

# list storing the predicted results
y_pred = lin_reg_classifier.predict(x_test)
y_pred

array([[14.58852101],
       [21.18431627],
       [18.86121159],
       [20.00909861],
       [20.20041311],
       [33.41933428],
       [22.99724895],
       [18.57879494],
       [25.66654178],
       [23.68962525],
       [21.78559043],
       [18.87943202],
       [14.80716616],
       [19.73579217],
       [21.68537807],
       [25.4296762 ],
       [23.86271932],
       [24.53687519],
       [23.13390216],
       [21.0112222 ],
       [21.50317378],
       [25.1745902 ],
       [21.21164691],
       [26.41357937],
       [33.27357085],
       [20.81079748],
       [15.80017953],
       [18.89765244],
       [21.92224364],
       [18.54235408],
       [18.97053416],
       [10.06074443],
       [24.81018162],
       [22.29576243],
       [18.88854223],
       [24.67352841],
       [ 7.52810481],
       [19.70846153],
       [25.72120307],
       [21.71270871],
       [19.85422496],
       [16.5381069 ],
       [23.15212259],
       [17.81353693],
       [22.022456  ],
       [24.44577304],
       [40.4979709 ],
       [10.58002665],
       [19.93621689],
       [24.15424618],
       [10.24294872],
       [20.90189962],
       [18.85210137],
       [28.84600662],
       [31.40597688],
       [20.13664161],
       [20.45549912],
       [23.95382146],
       [27.3154906 ],
       [14.21500222],
       [21.9586845 ],
       [18.69722773],
       [18.04129229],
       [28.69113298],
       [25.40234556],
       [24.01759297],
       [16.41967411],
       [21.61249635],
       [22.11355815],
       [19.00697502],
       [22.23199093],
       [18.72455837],
       [25.05615741],
       [30.98690702],
       [34.6947643 ],
       [36.10684754],
       [32.71784776],
       [24.68263862],
       [23.99937254],
       [22.11355815],
       [19.09807716],
       [17.41268749],
       [27.7618911 ],
       [28.97354963],
       [18.69722773],
       [17.33980577],
       [28.1991814 ],
       [15.18068495],
       [26.96930245],
       [22.30487265],
       [23.48920053],
       [32.39899026],
       [36.70812169],
       [21.1387652 ],
       [24.49132412],
       [24.34556069],
       [ 3.06409973],
       [21.27541842],
       [ 9.82387885],
       [20.10931097],
       [32.89094184],
       [40.67106498]])

Standard Evaluation Techniques to test the Prediction using mean_squared_error.  A Standard Metric

In [15]:
np.sqrt(mean_squared_error(y_test, y_pred))

5.650597319051452

Another Standard Metric -> lies between 0 - 1

In [16]:
lin_reg_classifier.score(x_test, y_test)

0.555149901731814

Working with Ridge

In [17]:
from sklearn.linear_model import Ridge

Fit the training data and traing label

In [18]:
rig1 = Ridge(alpha=1)
rig1.fit(x_train, y_train)
y_pred = rig1.predict(x_test)
np.sqrt(mean_squared_error(y_test, y_pred))

5.650546801154784

In [19]:
rig2 = Ridge(alpha=10)
rig2.fit(x_train, y_train)
y_pred = rig1.predict(x_test)
np.sqrt(mean_squared_error(y_test, y_pred))

5.650546801154784