### AIML: Regression: sklearn (3rd March 2022, Thursday)

Importing the dataSet

In [161]:
# load bosted dataset
from sklearn.datasets import load_boston

Supress the deprication warning

In [162]:
# to suppress warning
import warnings

boston = load_boston()
with warnings.catch_warnings():  # You should probably not use this dataset.
    warnings.filterwarnings("ignore")
    X, y = load_boston(return_X_y=True)
print(X.shape)

(506, 13)

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

Knowing description of Boston DataSet

In [163]:
print(*boston.DESCR.split("\n"), sep="\n")

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

Accessing data of Boston DataFrame

In [164]:
import pandas as pd

data = pd.DataFrame(boston.data, columns=boston.feature_names)
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [165]:
data["MEDV"] = pd.DataFrame(boston.target)
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

- Identifiation of Correlation Matrix of DataFrame
- Round specifies decimal point precision

In [166]:
pd.DataFrame(data.corr().round(2))  # Pearson's Correlation coefficient

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.00,-0.20,0.41,-0.06,0.42,-0.22,0.35,-0.38,0.63,0.58,0.29,-0.39,0.46,-0.39
ZN,-0.20,1.00,-0.53,-0.04,-0.52,0.31,-0.57,0.66,-0.31,-0.31,-0.39,0.18,-0.41,0.36
INDUS,0.41,-0.53,1.00,0.06,0.76,-0.39,0.64,-0.71,0.60,0.72,0.38,-0.36,0.60,-0.48
CHAS,-0.06,-0.04,0.06,1.00,0.09,0.09,0.09,-0.10,-0.01,-0.04,-0.12,0.05,-0.05,0.18
NOX,0.42,-0.52,0.76,0.09,1.00,-0.30,0.73,-0.77,0.61,0.67,0.19,-0.38,0.59,-0.43
RM,-0.22,0.31,-0.39,0.09,-0.30,1.00,-0.24,0.21,-0.21,-0.29,-0.36,0.13,-0.61,0.70
AGE,0.35,-0.57,0.64,0.09,0.73,-0.24,1.00,-0.75,0.46,0.51,0.26,-0.27,0.60,-0.38
DIS,-0.38,0.66,-0.71,-0.10,-0.77,0.21,-0.75,1.00,-0.49,-0.53,-0.23,0.29,-0.50,0.25
RAD,0.63,-0.31,0.60,-0.01,0.61,-0.21,0.46,-0.49,1.00,0.91,0.46,-0.44,0.49,-0.38
TAX,0.58,-0.31,0.72,-0.04,0.67,-0.29,0.51,-0.53,0.91,1.00,0.46,-0.44,0.54,-0.47
PTRATIO,0.29,-0.39,0.38,-0.12,0.19,-0.36,0.26,-0.23,0.46,0.46,1.00,-0.18,0.37,-0.51
B,-0.39,0.18,-0.36,0.05,-0.38,0.13,-0.27,0.29,-0.44,-0.44,-0.18,1.00,-0.37,0.33
LSTAT,0.46,-0.41,0.60,-0.05,0.59,-0.61,0.60,-0.50,0.49,0.54,0.37,-0.37,1.00,-0.74
MEDV,-0.39,0.36,-0.48,0.18,-0.43,0.70,-0.38,0.25,-0.38,-0.47,-0.51,0.33,-0.74,1.00

Deducing the most correlated Attribute to MEDV -> RM

In [167]:
x, y = data["RM"], data["MEDV"]
# X is always the set of features
# y is always the set of target variables

The algorithm to use today is Linear Regression

In [168]:
from sklearn.linear_model import LinearRegression

# importing to train our model
from sklearn.model_selection import train_test_split

# returns a model which learns from the data passed to it
lin_reg_classifier = LinearRegression()

Converting the data from Series to DataFrame objects

In [169]:
x, y = pd.DataFrame(x), pd.DataFrame(y)

Splitting the dataSet using Train split function intpo data and tests

In [170]:
# 20% left for testing 80% left for testing the model
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

To find how many values the training dataSet contains

In [171]:
x_train.shape

(404, 1)

Now Ultimately Training the Classifier using the data

In [172]:
lin_reg_classifier.fit(x_train, y_train)

LinearRegression()

Now, testing the Prediction of the dataSet

In [173]:
import numpy as np

from sklearn.metrics import mean_squared_error

# list storing the predicted results
y_pred = lin_reg_classifier.predict(x_test)
y_pred

array([[38.19470407],
       [36.33968028],
       [30.62840012],
       [30.23546404],
       [19.74498464],
       [10.57952224],
       [23.56468881],
       [18.40169155],
       [28.87389485],
       [11.88626314],
       [29.97959869],
       [20.59482313],
       [19.1692876 ],
       [24.32314682],
       [13.24783233],
       [18.73979934],
       [21.64569868],
       [33.49774727],
       [19.07790712],
       [20.53085679],
       [21.90156403],
       [27.0280091 ],
       [22.58691765],
       [19.69015635],
       [16.10804144],
       [20.78672214],
       [-2.67978578],
       [14.15249911],
       [15.94355657],
       [20.76844605],
       [24.00331513],
       [21.90156403],
       [22.35846644],
       [18.93169835],
       [20.07395438],
       [20.23843925],
       [26.74472961],
       [23.04382006],
       [21.17965822],
       [23.03468202],
       [36.23916175],
       [26.45231206],
       [18.82204177],
       [22.22139572],
       [23.01640592],
       [30.4365011 ],
       [21.70052697],
       [28.58147731],
       [40.31473127],
       [24.54245998],
       [19.7358466 ],
       [15.97097071],
       [20.39378607],
       [15.92528047],
       [23.05295811],
       [14.37181227],
       [19.25153004],
       [19.02307883],
       [25.4745409 ],
       [20.20188706],
       [24.89884386],
       [31.73410396],
       [15.89786633],
       [28.3530261 ],
       [23.53727467],
       [17.14977894],
       [19.47998124],
       [19.4708432 ],
       [23.41848004],
       [21.38983333],
       [32.54739025],
       [21.72794111],
       [14.03370448],
       [28.22509342],
       [24.01245318],
       [21.5360421 ],
       [15.32216929],
       [18.58445251],
       [22.76054057],
       [18.59359056],
       [23.30882346],
       [25.76695844],
       [22.8793352 ],
       [25.12729507],
       [27.47577347],
       [16.70201457],
       [33.04084486],
       [20.36637192],
       [ 9.37329987],
       [18.46565789],
       [18.87687006],
       [21.5360421 ],
       [18.81290372],
       [27.56715395],
       [16.592358  ],
       [18.46565789],
       [24.65211656],
       [21.37155723],
       [20.79586019],
       [23.77486392],
       [26.91835252],
       [15.58717269]])

Standard Evaluation Techniques to test the Prediction using mean_squared_error.  A Standard Metric

In [174]:
np.sqrt(mean_squared_error(y_test, y_pred))

6.5029342841562565

Another Standard Metric -> lies between 0 - 1

In [175]:
lin_reg_classifier.score(x_test, y_test)

0.45320344744693775

Working with Ridge

In [176]:
from sklearn.linear_model import Ridge

Fit the training data and traing label

In [177]:
rig1 = Ridge(alpha=1)
rig1.fit(x_train, y_train)
y_pred = rig1.predict(x_test)
np.sqrt(mean_squared_error(y_test, y_pred))

6.502360953623681

In [178]:
rig2 = Ridge(alpha=10)
rig2.fit(x_train, y_train)
y_pred = rig1.predict(x_test)
np.sqrt(mean_squared_error(y_test, y_pred))

6.503409491574264