In [ ]:
import mysql.connector as sqltor

connection = sqltor.connect(host="localhost", user="root", password="passwd")
cursor = connection.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS week3")
cursor.execute("USE week3")

In [ ]:
def disp():
    print(*[line for line in cursor], sep="\n")


def run(query: str):
    cursor.execute(query)

In [ ]:
run("SHOW DATABASES")
disp()
run("SHOW TABLES")
disp()
# exit()

1. Create the following Branch table  with the record given below. The underline column is the primary key.

In [ ]:
run(
    """CREATE TABLE Branch (
				bname VARCHAR(5) PRIMARY KEY,
				bcity VARCHAR(5),
				assts INT(3)
			)
"""
)

- AREA FOR TABLE

ii.

In [ ]:
run(
    """INSERT INTO Branch VALUES
            ('pu', 'Pton', 10),
            ('nyu', 'nyc', 20),
            ('time sq', 'nyc', 30)
""")

- Area for table preview

In [ ]:
run("DROP TABLE Account")

In [ ]:
run("SELECT bname FROM Branch")
disp()

2.

In [ ]:
run("""CREATE TABLE Account (
            bname VARCHAR(5), 
            acctn INT(3) PRIMARY KEY,
            bal INT(4),
            FOREIGN KEY (bname) REFERENCES Branch(bname)
        )
"""
)

ii.

In [ ]:
run("""INSERT INTO Account VALUES
            ('pu', 33, 356),
            ('nyu', 45, 500)
""")
connection.commit()

- Area for table preview

3. Find Names of branches which have a balance greater than 500

In [50]:

run("""
        SELECT bname AS 'BRANCH NAME' FROM Account
        WHERE bal > 500
""")

disp()

- Add Table Preview

4. Create the Following Customer Table with the record given below. Make the actn as foreign key.

In [63]:
run("DROP TABLE Customer")

In [64]:
run("""
        CREATE TABLE Customer(
            Cust_id INT(3) PRIMARY KEY,
            acctn INT(3),
            Cust_name VARCHAR(20),
            FOREIGN KEY (acctn) REFERENCES Account(acctn)
        )   
""")

In [79]:
run("ALTER TABLE Customer DROP FOREIGN KEY acctn")
run("DESC CUSTOMER")
disp()

ProgrammingError: 1091 (42000): Can't DROP 'acctn'; check that column/key exists

- Table Preview

In [72]:
run("""
        INSERT INTO Customer VALUES 
            (22, 33, 'Suresh'),
            (25, 45, 'Amit'),
            (30, 60, 'Ayantika')
""")

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`week3`.`customer`, CONSTRAINT `customer_ibfk_1` FOREIGN KEY (`acctn`) REFERENCES `account` (`acctn`))