### Class Work 3 (29th August 2022, Monday)

#### Initializing Connection

In [2]:
import mysql.connector as sqltor

connection = sqltor.connect(host="localhost", user="root", password="mysqlpasswd")
cursor = connection.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS week3")
cursor.execute("USE week3")

#### Adding Helper functions

In [3]:
def disp():
    print(*[line for line in cursor], sep="\n")


def run(query: str):
    cursor.execute(query)

#### Testing Tables and Datasets

In [4]:
run("SHOW DATABASES")
disp()
run("SHOW TABLES")
disp()
# exit()

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('week1',)
('week2',)
('week3',)

| Database           |
| ------------------ |
| information_schema |
| mysql              |
| performance_schema |
| sys                |
| week1              |
| week2              |
| week3              |

#### Queries

##### 1. Create the following **Branch table** with the record given below. The underline column is the <u>primary key</u>.

In [8]:
run(
    """CREATE TABLE Branch (
				bname VARCHAR(10) PRIMARY KEY,
				bcity VARCHAR(5),
				assts INT(3)
			)
"""
)

| Field | Type        | Null | Key | Default | Extra |
| ----- | ----------- | ---- | --- | ------- | ----: |
| bname | varchar(10) | NO   | PRI | NULL    |       |
| bcity | varchar(5)  | YES  |     | NULL    |       |
| assts | int         | YES  |     | NULL    |       |

ii. Inserting the values

In [9]:
run(
    """INSERT INTO Branch VALUES
            ('pu', 'Pton', 10),
            ('nyu', 'nyc', 20),
            ('time sq', 'nyc', 30)
"""
)
connection.commit()

| <u>bname</u> | bcity | assts |
| ------------ | ----- | ----: |
| nyu          | nyc   |    20 |
| pu           | Pton  |    10 |
| time sq      | nyc   |    30 |

##### 2. Create the following **Customer Table** with the records given below. Ther underline column is the <u>primary key</u> and <u>bname will be the foreign key</u>.

In [10]:
run(
    """CREATE TABLE Account (
            bname VARCHAR(5), 
            acctn INT(3) PRIMARY KEY,
            bal INT(4),
            FOREIGN KEY (bname) REFERENCES Branch(bname)
        )
"""
)

| Field | Type       | Null | Key | Default | Extra |
| ----- | ---------- | ---- | --- | ------- | ----- |
| bname | varchar(5) | YES  | MUL | NULL    |       |
| acctn | int        | NO   | PRI | NULL    |       |
| bal   | int        | YES  |     | NULL    |       |

ii. Inserting values

In [11]:
run(
    """INSERT INTO Account VALUES
            ('pu', 33, 356),
            ('nyu', 45, 500)
"""
)
connection.commit()

| bname | <u>acctn</u> | bal |
| ----- | ------------ | --- |
| pu    | 33           | 356 |
| nyu   | 45           | 500 |

##### 3. Find Names of branches which have a balance greater than 500

In [12]:
run(
    """
        SELECT bname AS 'BRANCH NAME' FROM Account
        WHERE bal > 500
"""
)

disp()

| BRANCH NAME |
| ----------- |

##### 4. Create the Following **Customer Table** with the record given below. Make the <u>actn as foreign key</u>.

In [22]:
run(
    """
        CREATE TABLE Customer(
            Cust_id INT(3),
            acctn INT(3),
            Cust_name VARCHAR(20),
            FOREIGN KEY (acctn) REFERENCES Account(acctn)
        )   
"""
)

| Field     | Type        | Null | Key | Default | Extra |
| --------- | ----------- | ---- | --- | ------- | ----- |
| Cust_id   | int         | YES  |     | NULL    |       |
| acctn     | int         | YES  | MUL | NULL    |       |
| Cust_name | varchar(20) | YES  |     | NULL    |       |

ii. Inserting Values

In [23]:
run("INSERT INTO Account VALUES ('pu', 60, 600)")
run(
    """
        INSERT INTO Customer VALUES 
            (22, 33, 'Suresh'),
            (25, 45, 'Amit'),
            (30, 60, 'Ayantika')
"""
)
connection.commit()

| Cust_id | acctn | Cust_name |
| :-----: | :---: | :-------: |
|   22    |  33   |  Suresh   |
|   25    |  45   |   Amit    |
|   30    |  60   | Ayantika  |

##### 5. Alter the Customer table to insert primary key for Cust_id

In [24]:
run("ALTER TABLE Customer ADD PRIMARY KEY(Cust_id)")

| Field     | Type        | Null | Key | Default | Extra |
| --------- | ----------- | ---- | --- | ------- | ----- |
| Cust_id   | int         | NO   | PRI | NULL    |       |
| acctn     | int         | YES  | MUL | NULL    |       |
| Cust_name | varchar(20) | YES  |     | NULL    |       |

##### 6. Display acctn and Cust_name for cust_id 22.

In [27]:
run("SELECT acctn, Cust_name FROM Customer WHERE Cust_id = 22")
disp()

(33, 'Suresh')

| acctn | Cust_name |
| ----- | --------- |
| 33    | Suresh    |

##### 7. Display those branch name(bname) which is located in nyc

In [31]:
run("SELECT bname FROM Branch where bname = 'nyc'")
disp()

| bname |
| ----- |

##### 8. Display all the tables.

In [42]:
run(
    """
    SELECT table_name AS TABLES 
    FROM information_schema.tables 
    WHERE table_schema = 'week3'
"""
)

disp()

| TABLES   |
| -------- |
| account  |
| branch   |
| customer |